
/*
    Styles for the sliders (volume, seek, etc)
    These don't seem to get applied in mozilla currently,
    but do work when launching the actual application.
*/

#slider-playback {
    right: 0;
    left: 0;
    bottom: 30px;
    margin-left: 270px;
    margin-right: 270px;
}

/* Temporarily forced for now */
#slider-playback > .slider-bar {
    width: 100% !important;
}

#slider-volume {
    right: 30px;
    bottom: 30px;
    width: 100px;
}

#slider-volume-label {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

/* Applied to sliders that can't be used */
.slider-bar:disabled {
    background-color: var(--colour-slider-disabled-bg) !important;
    border: 1px solid var(--colour-slider-disabled-border);
}

.slider-bar:disabled ~ .slider-thumb {
    transition: background-color 0.1s, opacity 0.1s;
    background-color: var(--colour-slider-disabled-thumb) !important;
    opacity: 0 !important;
}

.slider-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100%; /* 110% seems to fix problem where thumb was moving too much. */
    height: 100%;
    background: var(--colour-slider-bg);
    box-shadow: 1px 1px 2px #000;
    position: absolute;

    transition: opacity 0.1s;
    opacity: 1;

    border-radius: 3px;
    border: 1px solid var(--colour-slider-border);
}

.slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 16px;
    height: 16px;
}

.slider-thumb {
    pointer-events: none;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    border-radius: 50%;
    background-color: var(--colour-slider-thumb);
    border: 1px solid transparent;
    position: absolute;
    z-index: 5;

    margin-top: -3px;
    margin-left: -3px;
    margin-right: 3px;
    margin-bottom: 3px;

    transition: background-color 500ms, border-color 500ms;
}

/* Sortof fixes the thumb bug where it moved too far. 
    This makes sure both sides are even. */
.slider-thumb-cont {
    /*width: calc(100% - var(--slider-thumb-half));*/
    left: 4px; /* Just a constant that seems to work */
    right: var(--slider-thumb-half);
    position: absolute;
    pointer-events: none;
}

/* ~ Means same level in this context */
.slider-bar:hover ~ .slider-thumb-cont > .slider-thumb {
    transition: background-color 100ms, border-color 100ms;
    background-color: var(--colour-slider-thumb-hover);
    border-color: #000;
}

.slider-container {
    position: absolute;
    height: 6px !important;
}

/* Fills the slider */
/* Adjust width % to move */
.slider-fill {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: var(--colour-slider-fg);
    margin-top: 3px;
    margin-left: 3px;
    margin-right: -3px;
    margin-bottom: -3px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
