
/* Contains a collection of tracklist-items */
.tracklist {
    top: var(--captionbar-height);
    bottom: var(--ctrlbar-height);
    left: 0;
    right: 0;
    overflow-y: scroll;
    position: absolute;
}

.tracklist-item {
    width: 100%;
    height: var(--tracklist-density);
    background-color: var(--colour-tracklist-item);
    border-bottom: 1px solid var(--colour-tracklist-item-border);
    align-content: center;
}

/* Track title name */
.tracklist-item-title {
    margin-left: calc(var(--tracklist-cover-size) + 15px);
    position: absolute;
    margin-top: 10px;
    color: var(--colour-tracklist-title);
    text-shadow: 2px 2px 2px #000;
}
/* Artist name label */
.tracklist-item-artist {
    margin-left: calc(var(--tracklist-cover-size) + 15px);
    display: block;
    position: absolute;
    margin-top: 25px;
    color: var(--colour-tracklist-artist);
    text-shadow: 2px 2px 2px #000;
}
/* FIle name label */
.tracklist-item-filename {
    margin-left: calc(var(--tracklist-cover-size) + 15px);
    display: block;
    position: absolute;
    margin-top: 40px;
    color: var(--colour-tracklist-artist);
    text-shadow: 2px 2px 2px #000;
}
/* Album cover image */
.tracklist-item-cover {
    display: block;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 1px 2px #000;
    width: var(--tracklist-cover-size);
    height: var(--tracklist-cover-size);
    margin: calc(var(--tracklist-density) / 2 - var(--tracklist-cover-size) / 2);
    margin-right: auto;
    position: absolute;

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* For the 'no tracks' label */
#tracklist-nofiles {
    text-align: center;
    visibility: visible;
    opacity: 1;
    position: relative;
}
/* Add this to the 'no tracks' class list to disable it */
.tracklist-nofiles-disable {
    visibility: hidden !important;
    opacity: 0 !important;
    position: absolute !important;
}