
/* For sliders such as the volume bar and seek bar. */

#slider-volume {
    right: 30px;
    bottom: 30px;
}

.slider-bar {
    position: absolute;
    width: 100px;
    height: 6px !important;
    background-color: var(--colour-slider-bg);
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid var(--colour-slider-border);
    box-shadow: 2px 2px 2px #000;
}

/* use transform: translateX(0-100%) to move*/
.slider-progress {
    transform: translateX(-90%);
    width: 100%;
    height: 100%;
    background-color: var(--colour-slider-fg);
}